# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Sort/Sort.VC.VC.opendb
/Sort/Sort.VC.db
/Sort/Sort/Debug/Sort.tlog/Sort.lastbuildstate
/Sort/Sort/Debug/Sort.tlog/link.write.1.tlog
/Sort/Sort/Debug/Sort.tlog/link.read.1.tlog
/Sort/Sort/Debug/Sort.tlog/link.command.1.tlog
/Sort/Sort/Debug/Sort.tlog/CL.write.1.tlog
/Sort/Sort/Debug/Sort.tlog/CL.read.1.tlog
/Sort/Sort/Debug/Sort.tlog/CL.command.1.tlog
/Sort/.vs/Sort/v14/.suo
